* {
  box-sizing: border-box;
}
.row1
{
  align-items: center;
  flex-direction: column;
    margin: auto;
  width: 90%;
 
  padding: 120px;
}

/* Create two equal columns that floats next to each other */
.column1 {
   
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
  
}
.column1.img
{
  
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}